<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="com.vbgps.cache"/>
	<cache:annotation-driven cache-manager="cacheManager" mode="proxy" proxy-target-class="true"/>	
	<beans>
		<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
			<property name="caches">
				<set>
					<bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" name="user-info"></bean>
				</set>
			</property>
		</bean>
	</beans>
</beans>
